.mySlides {
    display: none;
}
  
body {
    background-color: rgb(41, 7, 33);
    font-family: Verdana, sans-serif;
}
  
.head {
    margin-top: 20px;
    margin-right: 20vw;
    margin-left: 20vw;
    text-align: center;
    font-size: 30px;
    background-color: #e48116;
    color: white;
    border-radius: 19px;
    font-weight: bolder;
}
  
.data-container {
    width: 600px;
    height: 384px;
    position: relative;
    margin: 0 auto;
}
  
.bar {
    width: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(68, 255, 0);
    transition: 0.2s all ease;
}
  
.bar__id {
    position: absolute;
    top: -24px;
    width: 100%;
    text-align: center;
}
.btn1 {
    padding: 12px;
    font-weight: bolder;
    background-color: #2d90ac;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
    margin-left: 37vw;
    margin-top: 4vw;
    margin-right: 1vw;
}
.btn2 {
    padding: 12px;
    font-weight: bolder;
    background-color: #b2bb0d;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
}
.btn3 {
    padding: 12px;
    font-weight: bolder;
    background-color: #b2bb0d;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
}
.btn4 {
    padding: 12px;
    font-weight: bolder;
    background-color: #b2bb0d;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
}
.btn5 {
    padding: 12px;
    font-weight: bolder;
    background-color: #b2bb0d;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: white;
}
